@import "variables";

body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 170%;

	&.mobile {
		height: auto !important;
	}
}

p {
	margin: 0 0 20px;
}

a, a:active, a:link {
	color: #333;
}

a:hover {
	color: #000;
}

#main {
	width: 100%;
	height: 100%;
	position: fixed;

	.mobile & {
		position: static;
	}

	.page {
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		background: #FFF;

		> .container {

			h1 {
				font-size: 44px;
				margin-bottom: 15px;
				letter-spacing: 3px;
			}

			h2 {
				font-size: 24px;
			}

			.band-details {
				font-size: 14px;
				text-align: center;

				> h2 {
					background-repeat: no-repeat;
					background-position: center top;
					font-size: 17px;
					text-transform: uppercase;
					padding: 175px 0 0;
				}

				> p {
					margin-bottom: 15px;
				}

				transition: opacity 0.25s linear 0.1s;
			}
		}

		.parallax-image {
			@media (max-width: @screen-sm-max) {
				display: none;
			}
		}
	}

	#page-start {
		z-index: 100;
		background: #66CC9A;

		.mobile & {
			position: static;
		}

		> .container {
			padding-left: 0;
			height: 100%;

			h1 {
				width: 100%;
				height: 100%;
				text-indent: -10000px;
				overflow: hidden;
				background: url(../img/logo.jpg) no-repeat center center;
				margin: 0;

				@media (max-width: @screen-xs-max) {
					background-position-x: 100%;
				}
			}
		}
	}

	#page-info {
		z-index: 90;
		background: #dbbead;

		.mobile & {
			position: static;
			height: auto !important;
		}

		> .container {
			padding-top: 2vh;

			@media (min-width: @screen-md-min) {
				padding-top: 140px;
			}

			h1 {
				padding-top: 0;
				background: none;
				text-indent: 0;

				@media (min-width: @screen-md-min) {
					padding-top: 230px;
					background: url(../img/cloud-sm.png) no-repeat left top;
					text-indent: 120px;
					margin: -50px 0 0 0;
				}
			}
		}
	}

	#page-lineup {
		z-index: 80;
		background: lightyellow;

		.mobile & {
			position: static;
			height: auto !important;
		}

		> .container {
			h1 {
				@media (max-width: @screen-sm-max) {
					margin-left: 0;
					margin-right: 0;
				}

				@media (min-width: @screen-md-min) {
					padding: 20px 0 115px 15px;
					margin: 10px 0 0 0;
					background: url(../img/triangle-green.png) no-repeat left top;
				}
			}

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				> li {
					margin-bottom: 15px;

					@media (min-width: @screen-md-min) {
						font-size: 18px;

						.location {
							width: 80px;
						}
					}

					time {
						display: inline-block;
						margin-right: 25px;
						text-transform: uppercase;
					}

					.location {
						display: inline-block;
						margin-right: 25px;
						text-transform: uppercase;
					}

					.band {
						display: inline-block;
						text-transform: uppercase;
						cursor: pointer;
						font-weight: normal;

						+ input {
							display: none;

							@media (max-width: @screen-sm-max) {
								+ .band-details {
									display: none;
								}

								&:checked + .band-details {
									display: block;
								}
							}
						}
					}

					.band-details {
						@media (min-width: @screen-sm-min) {
							opacity: 0;
							position: absolute;
							top: -140px;
							width: 420px;
							left: 50%;
						}
					}

					@media (min-width: @screen-sm-min) {
						.band:hover + input + .band-details {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	#page-bands {
		z-index: 70;
		background: white;

		.mobile & {
			position: static;
			height: auto !important;
		}

		.band-details {
			height: auto;

			@media (min-width: @screen-sm-min) {
				height: 540px;
			}

			@media (min-width: @screen-md-min) {
				height: 540px;
			}
		}
	}

	#page-contact {
		z-index: 60;
		background: lightyellow;

		.mobile & {
			position: static;
			height: auto !important;
		}

		> .container {
			.container-contact {
				h1 {
					@media (min-width: @screen-sm-min) {
						padding: 140px 0 0 90px;
						background: url(../img/cloud-sm.png) no-repeat left top;
						background-size: 20%;
						margin-left: -90px;
					}
				}
			}

			address {
				font-size: 22px;
			}

			@media (min-width: @screen-sm-min) {
				.haftungsausschluss, .disclaimer {
					br:first-of-type {
						display: none;
					}
				}
			}
		}
	}

}