body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 170%;
}
body.mobile {
  height: auto !important;
}
p {
  margin: 0 0 20px;
}
a,
a:active,
a:link {
  color: #333;
}
a:hover {
  color: #000;
}
#main {
  width: 100%;
  height: 100%;
  position: fixed;
}
.mobile #main {
  position: static;
}
#main .page {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background: #FFF;
}
#main .page > .container h1 {
  font-size: 44px;
  margin-bottom: 15px;
  letter-spacing: 3px;
}
#main .page > .container h2 {
  font-size: 24px;
}
#main .page > .container > .row {
  z-index: 50;
  position: relative;
}
#main .page > .container .band-details {
  font-size: 14px;
  text-align: center;
  transition: opacity 0.25s linear 0.1s;
}
#main .page > .container .band-details > h2 {
  background-repeat: no-repeat;
  background-position: center top;
  font-size: 17px;
  text-transform: uppercase;
  padding: 175px 0 0;
}
#main .page > .container .band-details > p {
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  #main .page .parallax-image {
    display: none;
  }
}
#main #home {
  z-index: 100;
  background: #66CC9A;
}
.mobile #main #home {
  position: static;
}
#main #home > .container {
  position: relative;
  padding-left: 0;
  height: 100%;
}
#main #home > .container h1 {
  width: 100%;
  height: 100%;
  text-indent: -10000px;
  overflow: hidden;
  background: url(../img/logo.jpg) no-repeat center center;
  margin: 0;
}
@media (max-width: 767px) {
  #main #home > .container h1 {
    background-position-x: 100%;
  }
}
#main #home > .container .date {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -290px 0 0 -250px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  #main #home > .container .date {
    margin-left: -100px;
  }
}
#main #home > .container .links {
  position: absolute;
  right: 50%;
  top: 50%;
  margin: 290px -240px 0 0;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  #main #home > .container .links {
    margin-right: -59px;
  }
}
#main #info {
  z-index: 90;
  background: #dbbead;
}
.mobile #main #info {
  position: static;
  height: auto !important;
}
#main #info > .container {
  padding-top: 2vh;
}
@media (min-width: 992px) {
  #main #info > .container {
    padding-top: 140px;
  }
}
#main #info > .container h1 {
  padding-top: 0;
  background: none;
  text-indent: 0;
}
@media (min-width: 992px) {
  #main #info > .container h1 {
    padding-top: 230px;
    background: url(../img/cloud-sm.png) no-repeat left top;
    text-indent: 120px;
    margin: -50px 0 0 0;
  }
}
#main #lineup {
  z-index: 80;
  background: lightyellow;
}
.mobile #main #lineup {
  position: static;
  height: auto !important;
}
@media (max-width: 991px) {
  #main #lineup > .container h1 {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  #main #lineup > .container h1 {
    padding: 20px 0 115px 15px;
    margin: 10px 0 0 0;
    background: url(../img/triangle-green.png) no-repeat left top;
  }
}
#main #lineup > .container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#main #lineup > .container ul > li {
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  #main #lineup > .container ul > li {
    font-size: 18px;
  }
  #main #lineup > .container ul > li .location {
    width: 80px;
  }
}
#main #lineup > .container ul > li time {
  display: inline-block;
  margin-right: 25px;
  text-transform: uppercase;
}
#main #lineup > .container ul > li .location {
  display: inline-block;
  margin-right: 25px;
  text-transform: uppercase;
}
#main #lineup > .container ul > li .band {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: normal;
}
#main #lineup > .container ul > li .band:before {
  content: 'â¯';
  margin-right: 10px;
  color: #C5C5B0;
}
#main #lineup > .container ul > li .band + input {
  display: none;
}
@media (max-width: 991px) {
  #main #lineup > .container ul > li .band + input + .band-details {
    display: none;
  }
  #main #lineup > .container ul > li .band + input:checked + .band-details {
    display: block;
  }
}
@media (min-width: 768px) {
  #main #lineup > .container ul > li .band-details {
    opacity: 0;
    position: absolute;
    top: -140px;
    width: 420px;
    left: 50%;
  }
}
@media (min-width: 768px) {
  #main #lineup > .container ul > li .band:hover + input + .band-details {
    opacity: 1;
  }
}
#main #bands {
  z-index: 70;
  background: white;
}
@media (max-width: 767px) {
  #main #bands {
    display: none;
  }
}
.mobile #main #bands {
  position: static;
  height: auto !important;
}
#main #bands .band-details {
  height: auto;
}
@media (min-width: 768px) {
  #main #bands .band-details {
    height: 540px;
  }
}
#main #contact {
  z-index: 50;
  background: lightyellow;
}
.mobile #main #contact {
  position: static;
  height: auto !important;
}
@media (min-width: 768px) {
  #main #contact > .container .container-contact h1 {
    padding: 140px 0 0 90px;
    background: url(../img/cloud-sm.png) no-repeat left top;
    background-size: 13%;
    margin-left: -90px;
  }
}
#main #contact > .container address {
  font-size: 22px;
}
@media (min-width: 768px) {
  #main #contact > .container .haftungsausschluss br:first-of-type,
  #main #contact > .container .disclaimer br:first-of-type {
    display: none;
  }
}
